COMPOSE_PROJECT_NAME=deedims-staging
BACKEND_ENV_FILE=/home/reyhanr/.config/deedims/staging.backend.env
PUBLIC_ORIGIN=https://dev-admin.deedims.biz.id
BACKEND_HOST_PORT=3101
FRONTEND_HOST_PORT=8081
DATA_VOLUME_NAME=deedims-staging-data
CLOUDFLARED_CONFIG_FILE=/home/reyhanr/apps/deedims-staging/deploy/cloudflared.staging.yml
CLOUDFLARED_CREDENTIALS_FILE=/home/reyhanr/.cloudflared/8ae4e2d0-2c36-4df0-97cb-6f781730c8c4.json
